{% extends 'shop/layouts/main.html' %}

{% block title %}
   Login page | Online Shop

{% endblock title  %}

{% block content  %}
<div class="container" style="margin-top:70px;">
    <div class="row">
     <div class="col-12">
         <h1>Login page</h1>
         <hr>
         {% include 'shop/inc/messages.html' %}
     </div>
    </div>
    <section class="py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" action="">
                        {% csrf_token %} 
                        <div class="mb-4">
                           <input type="text" name="username" id="username" class="form-control" placeholder="Enter user Name">
                        </div>
                        <div class="mb-4">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
 </div>
{% endblock content  %}
